<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="generator" content="Mobirise v3.5.1, mobirise.com">
    <meta name="description" content="Sustainable food production for the future">
    <meta name="author" content="Air Raya aquaponics">
    <link href='img/icon.png' type='image/icon' rel='shortcut icon'/>
    <title>Air Raya Aquaponics</title>

	
	
    <!-- Custom Fonts -->
	 <%- css('font-awesome/css/font-awesome.min.css') %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- mobirise -->
	
	
	<%- css('css/et-line-font-plugin.css') %>
	<%- css('css/material.css') %>
	<%- css('css/tether.min.css') %>
	<%- css('css/bootstrap.min.css') %>
	<%- css('css/socicon.min.css') %>
	<%- css('css/animate.min.css') %>
	<%- css('css/dropdown.css') %>
	<%- css('css/theme.css') %>
	<%- css('css/mbr-additional.css') %>
	
	 <%- css('css/custom.css') %>
	 <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
	<script type="text/javascript">
		window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"/privacy","theme":"dark-bottom"};
	</script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
	<!-- End Cookie Consent plugin -->

</head>

